body {
    background-color: rgb(80, 25, 123);
    
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: large;

    color: white;
}

hr {
    padding: 2px;

    border-color: rgb(80, 25, 123);
    color: rgb(80, 25, 123);
}

dpstitulo > hr {
    margin-top: 0px;

    padding: 4px;
}

h1 {
    background-color: rgb(74, 13, 123);
    color: white;
    
    padding: 40px;
    margin: 0px;
    
    text-align: center;
}
